body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mode-switcher {
  position: relative;
  margin-top: 10px;
  margin-right: 136px;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  padding: 4px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  float: right;
  min-width: 12%;
  font-size: 0.7em;
  border-radius: 7px;
  -webkit-animation: moveInBottom 0.5s ease-out;
          animation: moveInBottom 0.5s ease-out;
}

body.dark-mode {
  background-color: #343030;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

body.dark-mode a {
  color: #b9b9b9;
}

body.dark-mode button {
  background-color: #fff;
  color: #111;
}

body.dark-mode hr {
  border: 0;
}

body.dark-mode .navbar {
  background-color: #0d0c0c;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

body.dark-mode .right .github-fork-ribbon {
  background-color: #dbe6f1;
}

body.dark-mode .github-fork-ribbon a,
body.dark-mode .github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #111 !important;
}

body.dark-mode .card {
  background-color: #050300;
  border-radius: 20px;
  border: 2px solid #2a2d36;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}

body.dark-mode .card:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body.dark-mode .text {
  color: #b9b9b9;
}

body.dark-mode .element-name {
  color: #ddd;
}

body.dark-mode #scroll {
  background-color: #878d92;
}

body.dark-mode #scroll span {
  border-bottom-color: #111;
}

body.dark-mode .fa-heart-o {
  color: #ff3030;
}

body.dark-mode .footer {
  background-color: #0d0c0c;
  color: #b9b9b9;
}

body.dark-mode .widget .widget-title {
  background-color: #0d0c0c;
  color: #ddd;
}

body.dark-mode .widget {
  background-color: #0d0c0c;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-top: 3em;
}

body.dark-mode #violate {
  color: #7fd9cd;
}

body.light-mode {
  background-color: #f1f1f145;
  color: #111;
}

body.light-mode a {
  color: #111;
}

body.light-mode button {
  background-color: #111;
  color: #fff;
}

body.light-mode hr {
  width: 100%;
  border: 0;
  border-color: #fff;
  height: 1.8px;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
}

body.light-mode .cut-edge {
  z-index: -5;
}

body.light-mode .cut-edge--1 {
  position: absolute;
  width: 895px;
  height: 900px;
  left: -500px;
  top: -475px;
  border-radius: 50%;
  background: linear-gradient(160deg, #f1f3f5 0%, #a7b4c2 100%);
  opacity: 0.16;
}

body.light-mode .cut-edge--2 {
  position: fixed;
  width: 895px;
  height: 900px;
  left: -500px;
  top: -475px;
  border-radius: 50%;
  background: linear-gradient(160deg, #f1f3f5 0%, #a7b4c2 100%);
  opacity: 0.16;
}

body.light-mode .cut-edge--3 {
  position: fixed;
  width: 850px;
  height: 900px;
  right: -500px;
  bottom: -600px;
  border-radius: 50%;
  background: linear-gradient(160deg, #f1f3f5 0%, #a7b4c2 100%);
  opacity: 0.5;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  height: 110px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

#logo {
  float: left;
  margin: 20px 2px;
  width: 25%;
  -webkit-animation: moveInLeft 0.5s ease-out;
          animation: moveInLeft 0.5s ease-out;
}

.logo-light {
  content: url(../images/logo_7.PNG);
}

.logo-dark {
  content: url(../images/logo_18.PNG);
}

.ref-heading {
  margin-top: 2.4em;
  margin-left: 4.15%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.15em;
}

.card {
  position: relative;
  margin: 2.5% 4.15%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 325px !important;
  min-height: 220px !important;
  border-radius: 20px;
  padding: 2px 16px;
}

.card a {
  text-decoration: none;
}

.text {
  margin-top: 8%;
  color: #000;
  vertical-align: left;
}

.text .element-name {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 501;
  font-style: oblique;
}

.text .description {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

.card:hover {
  cursor: pointer;
}

#spcmar {
  margin-top: 150px !important;
}

.big-container {
  width: 100%;
}

.row-1 {
  margin-top: 1.25%;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10,
.container-11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-1 .card-1,
.container-1 .card-6,
.container-1 .card-11,
.container-2 .card-1,
.container-2 .card-6,
.container-2 .card-11,
.container-3 .card-1,
.container-3 .card-6,
.container-3 .card-11,
.container-4 .card-1,
.container-4 .card-6,
.container-4 .card-11,
.container-5 .card-1,
.container-5 .card-6,
.container-5 .card-11,
.container-6 .card-1,
.container-6 .card-6,
.container-6 .card-11,
.container-7 .card-1,
.container-7 .card-6,
.container-7 .card-11,
.container-8 .card-1,
.container-8 .card-6,
.container-8 .card-11,
.container-9 .card-1,
.container-9 .card-6,
.container-9 .card-11,
.container-10 .card-1,
.container-10 .card-6,
.container-10 .card-11,
.container-11 .card-1,
.container-11 .card-6,
.container-11 .card-11 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.2);
          box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(201, 25, 46, 0.3);
}

.container-1 .card-2,
.container-1 .card-7,
.container-1 .card-12,
.container-2 .card-2,
.container-2 .card-7,
.container-2 .card-12,
.container-3 .card-2,
.container-3 .card-7,
.container-3 .card-12,
.container-4 .card-2,
.container-4 .card-7,
.container-4 .card-12,
.container-5 .card-2,
.container-5 .card-7,
.container-5 .card-12,
.container-6 .card-2,
.container-6 .card-7,
.container-6 .card-12,
.container-7 .card-2,
.container-7 .card-7,
.container-7 .card-12,
.container-8 .card-2,
.container-8 .card-7,
.container-8 .card-12,
.container-9 .card-2,
.container-9 .card-7,
.container-9 .card-12,
.container-10 .card-2,
.container-10 .card-7,
.container-10 .card-12,
.container-11 .card-2,
.container-11 .card-7,
.container-11 .card-12 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.2);
          box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(28, 54, 111, 0.3);
}

.container-1 .card-3,
.container-1 .card-8,
.container-1 .card-13,
.container-2 .card-3,
.container-2 .card-8,
.container-2 .card-13,
.container-3 .card-3,
.container-3 .card-8,
.container-3 .card-13,
.container-4 .card-3,
.container-4 .card-8,
.container-4 .card-13,
.container-5 .card-3,
.container-5 .card-8,
.container-5 .card-13,
.container-6 .card-3,
.container-6 .card-8,
.container-6 .card-13,
.container-7 .card-3,
.container-7 .card-8,
.container-7 .card-13,
.container-8 .card-3,
.container-8 .card-8,
.container-8 .card-13,
.container-9 .card-3,
.container-9 .card-8,
.container-9 .card-13,
.container-10 .card-3,
.container-10 .card-8,
.container-10 .card-13,
.container-11 .card-3,
.container-11 .card-8,
.container-11 .card-13 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.2);
          box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(27, 169, 76, 0.3);
}

.container-1 .card-4,
.container-1 .card-9,
.container-1 .card-14,
.container-2 .card-4,
.container-2 .card-9,
.container-2 .card-14,
.container-3 .card-4,
.container-3 .card-9,
.container-3 .card-14,
.container-4 .card-4,
.container-4 .card-9,
.container-4 .card-14,
.container-5 .card-4,
.container-5 .card-9,
.container-5 .card-14,
.container-6 .card-4,
.container-6 .card-9,
.container-6 .card-14,
.container-7 .card-4,
.container-7 .card-9,
.container-7 .card-14,
.container-8 .card-4,
.container-8 .card-9,
.container-8 .card-14,
.container-9 .card-4,
.container-9 .card-9,
.container-9 .card-14,
.container-10 .card-4,
.container-10 .card-9,
.container-10 .card-14,
.container-11 .card-4,
.container-11 .card-9,
.container-11 .card-14 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.2);
          box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(196, 61, 125, 0.3);
}

.container-1 .card-5,
.container-1 .card-10,
.container-2 .card-5,
.container-2 .card-10,
.container-3 .card-5,
.container-3 .card-10,
.container-4 .card-5,
.container-4 .card-10,
.container-5 .card-5,
.container-5 .card-10,
.container-6 .card-5,
.container-6 .card-10,
.container-7 .card-5,
.container-7 .card-10,
.container-8 .card-5,
.container-8 .card-10,
.container-9 .card-5,
.container-9 .card-10,
.container-10 .card-5,
.container-10 .card-10,
.container-11 .card-5,
.container-11 .card-10 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(58, 201, 185, 0.2);
          box-shadow: 0 10px 25px 0 rgba(58, 201, 185, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(58, 201, 185, 0.3);
}

.container-1 .card-1:hover,
.container-1 .card-6:hover,
.container-1 .card-11:hover,
.container-2 .card-1:hover,
.container-2 .card-6:hover,
.container-2 .card-11:hover,
.container-3 .card-1:hover,
.container-3 .card-6:hover,
.container-3 .card-11:hover,
.container-4 .card-1:hover,
.container-4 .card-6:hover,
.container-4 .card-11:hover,
.container-5 .card-1:hover,
.container-5 .card-6:hover,
.container-5 .card-11:hover,
.container-6 .card-1:hover,
.container-6 .card-6:hover,
.container-6 .card-11:hover,
.container-7 .card-1:hover,
.container-7 .card-6:hover,
.container-7 .card-11:hover,
.container-8 .card-1:hover,
.container-8 .card-6:hover,
.container-8 .card-11:hover,
.container-9 .card-1:hover,
.container-9 .card-6:hover,
.container-9 .card-11:hover,
.container-10 .card-1:hover,
.container-10 .card-6:hover,
.container-10 .card-11:hover,
.container-11 .card-1:hover,
.container-11 .card-6:hover,
.container-11 .card-11:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
          box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
}

.container-1 .card-2:hover,
.container-1 .card-7:hover,
.container-1 .card-12:hover,
.container-2 .card-2:hover,
.container-2 .card-7:hover,
.container-2 .card-12:hover,
.container-3 .card-2:hover,
.container-3 .card-7:hover,
.container-3 .card-12:hover,
.container-4 .card-2:hover,
.container-4 .card-7:hover,
.container-4 .card-12:hover,
.container-5 .card-2:hover,
.container-5 .card-7:hover,
.container-5 .card-12:hover,
.container-6 .card-2:hover,
.container-6 .card-7:hover,
.container-6 .card-12:hover,
.container-7 .card-2:hover,
.container-7 .card-7:hover,
.container-7 .card-12:hover,
.container-8 .card-2:hover,
.container-8 .card-7:hover,
.container-8 .card-12:hover,
.container-9 .card-2:hover,
.container-9 .card-7:hover,
.container-9 .card-12:hover,
.container-10 .card-2:hover,
.container-10 .card-7:hover,
.container-10 .card-12:hover,
.container-11 .card-2:hover,
.container-11 .card-7:hover,
.container-11 .card-12:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
          box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
}

.container-1 .card-3:hover,
.container-1 .card-8:hover,
.container-1 .card-13:hover,
.container-2 .card-3:hover,
.container-2 .card-8:hover,
.container-2 .card-13:hover,
.container-3 .card-3:hover,
.container-3 .card-8:hover,
.container-3 .card-13:hover,
.container-4 .card-3:hover,
.container-4 .card-8:hover,
.container-4 .card-13:hover,
.container-5 .card-3:hover,
.container-5 .card-8:hover,
.container-5 .card-13:hover,
.container-6 .card-3:hover,
.container-6 .card-8:hover,
.container-6 .card-13:hover,
.container-7 .card-3:hover,
.container-7 .card-8:hover,
.container-7 .card-13:hover,
.container-8 .card-3:hover,
.container-8 .card-8:hover,
.container-8 .card-13:hover,
.container-9 .card-3:hover,
.container-9 .card-8:hover,
.container-9 .card-13:hover,
.container-10 .card-3:hover,
.container-10 .card-8:hover,
.container-10 .card-13:hover,
.container-11 .card-3:hover,
.container-11 .card-8:hover,
.container-11 .card-13:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
          box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
}

.container-1 .card-4:hover,
.container-1 .card-9:hover,
.container-1 .card-14:hover,
.container-2 .card-4:hover,
.container-2 .card-9:hover,
.container-2 .card-14:hover,
.container-3 .card-4:hover,
.container-3 .card-9:hover,
.container-3 .card-14:hover,
.container-4 .card-4:hover,
.container-4 .card-9:hover,
.container-4 .card-14:hover,
.container-5 .card-4:hover,
.container-5 .card-9:hover,
.container-5 .card-14:hover,
.container-6 .card-4:hover,
.container-6 .card-9:hover,
.container-6 .card-14:hover,
.container-7 .card-4:hover,
.container-7 .card-9:hover,
.container-7 .card-14:hover,
.container-8 .card-4:hover,
.container-8 .card-9:hover,
.container-8 .card-14:hover,
.container-9 .card-4:hover,
.container-9 .card-9:hover,
.container-9 .card-14:hover,
.container-10 .card-4:hover,
.container-10 .card-9:hover,
.container-10 .card-14:hover,
.container-11 .card-4:hover,
.container-11 .card-9:hover,
.container-11 .card-14:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
          box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
}

.container-1 .card-5:hover,
.container-1 .card-10:hover,
.container-2 .card-5:hover,
.container-2 .card-10:hover,
.container-3 .card-5:hover,
.container-3 .card-10:hover,
.container-4 .card-5:hover,
.container-4 .card-10:hover,
.container-5 .card-5:hover,
.container-5 .card-10:hover,
.container-6 .card-5:hover,
.container-6 .card-10:hover,
.container-7 .card-5:hover,
.container-7 .card-10:hover,
.container-8 .card-5:hover,
.container-8 .card-10:hover,
.container-9 .card-5:hover,
.container-9 .card-10:hover,
.container-10 .card-5:hover,
.container-10 .card-10:hover,
.container-11 .card-5:hover,
.container-11 .card-10:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
          box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.inner-logo {
  position: relative;
  top: 0;
  float: right;
  margin-top: -2.5em;
  width: 45px;
  z-index: 0;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  z-index: 10;
  background-color: #ff3e4d;
  -webkit-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.25);
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.footer {
  width: 100%;
  margin-top: 3%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.name-window {
  display: inline-block;
  width: 90%;
  margin: 2% 5% 0 5%;
  height: 40px;
}

#logo-l {
  float: left;
  margin: 2% 0;
  width: 25%;
}

.name-text {
  float: right;
  width: 200px;
  display: block;
  width: 60%;
}

.c-1 {
  position: relative;
  width: 60%;
  float: left;
}

.name {
  margin: 4% 2% 4% 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 0.005em;
}

.photo {
  float: right;
  margin: 2% 2% 2% 0;
  width: 60px;
  border-radius: 50%;
}

.widget {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 15px 30px;
  margin: 3em 0 2.5em;
  padding: 30px;
  text-align: center;
}

.widget .widget-title,
.widget .widgettitle {
  background-color: #fff;
  color: #10242b;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: -48px auto 0px;
  line-height: 1;
  padding: 0 15px 41px;
  text-align: center;
  vertical-align: middle;
  z-index: 9;
  text-transform: capitalize;
}

.mysocialwid {
  display: block;
  font-size: 30px;
}

.mysocial {
  display: inline;
  padding-right: 2%;
  color: #000;
}

.mysocial .fa-facebook:hover {
  color: #005b98;
}

.mysocial .fa-twitter:hover {
  color: #0080c2;
}

.mysocial .fa-linkedin:hover {
  color: #0077b5;
}

.mysocial .fa-instagram:hover {
  color: #517fa4;
}

.mysocial .fa-github:hover {
  color: #a0b4c8;
}

.mysocial .fa-google-plus:hover {
  color: #dc4e41;
}

.mysocial .fa-quora:hover {
  color: #b0271e;
}

.fa-heart-o {
  color: #ff3030;
  font-size: 30px;
  margin: 0 2px;
}

.footer__text > * {
  display: block;
  text-align: center;
  font-size: 0.85rem;
  padding: 3px 0;
}

.footer__text {
  margin-top: -1em;
  font-family: "Lato", sans-serif;
}

.footer_para {
  line-height: 100%;
}

#green {
  color: #06cf4a;
}

#violate {
  color: #241355;
}
/*# sourceMappingURL=main.css.map */