@font-face {
  font-family: GoogleSans-Regular;
  src: url("../font/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url("../font/GoogleSans-Medium.ttf");
}

@font-face {
  font-family: GoogleSans-MediumItalic;
  src: url("../font/GoogleSans-MediumItalic.ttf");
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mode-switcher {
  position: relative;
  margin-top: 10px;
  margin-right: 136px; // box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  padding: 4px;
  font-family: "Lato", sans-serif;
  cursor: pointer; // margin-right: 0.5%;
  float: right;
  min-width: 12%;
  font-size: 0.7em;
  border-radius: 7px;
  animation: moveInBottom 0.5s ease-out;
}

body.dark-mode {
  background-color: #111;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;

  a {
    color: #b9b9b9;
  }

  label {
    background-color: #0d0c0c;
    color: #ddd;
  }

  hr {
    border: 0; // height: 1.8px;
    // box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.78);
  }

  .navbar {
    background-color: #0d0c0c; // background-color: #0e0616;
    // background-color: #1d1f21;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .right .github-fork-ribbon {
    background-color: #dbe6f1;
  }

  .github-fork-ribbon a,
  .github-fork-ribbon a:hover {
    /* Set the text properties */
    color: #111 !important;
  }

  .card {
    // background-color: #120320;
    background-color: #25272a; //#19052c // background-image: linear-gradient(to right, #454d81, #38407d, #2b3279, #1e2574, #0f166e);
    border-radius: 20px; // border-image-slice: 1;
    // border-image: linear-gradient(to left, #743ad5, #d53a9d);
    border: 2px solid #212121; //#891339; // #f48fb1; // border-left: 4px solid #5a0b4b 602b61;
    // border-top: 4px solid #6b1b5b;
    // border-right: 4px solid #4f4f8a;
    // border-bottom: 4px solid #333399;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2); // opacity: 0.85;
  }

  .card:hover {
    box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-out 0s;
    transform: scale(1.05);

    .text {
      color: #fff;
    }

    .element-name {
      // color: #ffcb2f,a4eda4;
      color: #6ee2b0;
    }
  }

  .text {
    // color: rgba(255, 255, 255, 1);
    color: #b9b9b9;
  }

  .element-name {
    color: #ddd;
  }

  #topcontrol {
    // background-color: #878d92;
    // background-color: rgba(63, 81, 181, 0.9);
    background-color: #29377fe6; //#2d42b0e6; //#384483e6;
    border-bottom-color: #111;
  }

  // .progress-container {
  //   // background: #b09baf;
  //   background: #371e3e;
  // }
  // .progress-bar {
  //   background: #df1c63; // background: #c43d7d;
  //   // background: #ff00cc;
  // }
  .fa-heart-o {
    color: #ff3030;
  }

  .footer {
    background-color: #0d0c0c;
    color: #b9b9b9;
  }

  .widget .widget-title {
    background-color: #0d0c0c;
    color: #ddd;
  }

  .widget {
    background-color: #0d0c0c;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    margin-top: 3em;
  }

  #violate {
    color: #7fd9cd;
  }

  .mysocial:hover {
    background-color: rgba(255, 255, 255, 0.1);

    .fa-facebook,
    .fa-twitter,
    .fa-linkedin,
    .fa-instagram,
    .fa-github,
    .fa-medium,
    .fa-quora {
      color: #f0f0f0;
    }
  }

  #sun {
    background: #dddddd;
    box-shadow: 0 0 5px #dddddd, 0 0 10px #dddddd, 0 0 50px #fff, inset 0 0 20px #fff;
  }
}

body.light-mode {
  background-color: #f1f1f145;
  color: #111;

  a {
    color: #111;
  }

  button {
    background-color: #111;
    color: #fff;
  }

  hr {
    width: 100%;
    border: 0;
    border-color: #fff;
    height: 1.8px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
  }

  .cut-edge {
    z-index: -5;

    &--1 {
      position: absolute;
      width: 900px;
      height: 900px;
      left: -500px;
      top: -475px;
      border-radius: 50%;
      background: linear-gradient(160deg, rgb(241, 243, 245) 0%, rgb(167, 180, 194) 100%);
      opacity: 0.16;
    }

    &--2 {
      position: fixed;
      width: 900px;
      height: 900px;
      left: -500px;
      top: -475px;
      border-radius: 50%;
      background: linear-gradient(160deg, rgb(241, 243, 245) 0%, rgb(167, 180, 194) 100%);
      opacity: 0.16;
    }

    &--3 {
      position: fixed;
      width: 850px;
      height: 900px;
      right: -500px;
      bottom: -600px;
      border-radius: 50%;
      background: linear-gradient(160deg, rgb(241, 243, 245) 0%, rgb(167, 180, 194) 100%);
      opacity: 0.5;
    }
  }

  .footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: 2.79px solid #dadce0;
  }
}

#sun {
  position: relative; // left: 50%;
  margin-right: 125px;
  float: right;
  top: 50px;
  width: 45px;
  height: 45px; // background-color: #ffde3a;
  background: #ffb347;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 50px yellow, inset 0 0 20px yellow;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
}

#sun div {
  position: absolute;
  top: -22px;
  left: 50%;
  width: 1.5px; // background-color: #ffde3a;
  background: orange;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: translate(-50%);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
}

#sun div:nth-child(odd) {
  height: 20px;
  transform-origin: center 45px;
}

#sun div:nth-child(even) {
  height: 25px;
  transform-origin: center 46px;
}

#sun div:nth-child(1) {
  transform: translate(-50%) scaleY(1);
}

#sun div:nth-child(2) {
  transform: translate(-50%) rotate(30deg) scaleY(1);
}

#sun div:nth-child(3) {
  transform: translate(-50%) rotate(60deg);
}

#sun div:nth-child(4) {
  transform: translate(-50%) rotate(90deg);
}

#sun div:nth-child(5) {
  transform: translate(-50%) rotate(120deg);
}

#sun div:nth-child(6) {
  transform: translate(-50%) rotate(150deg);
}

#sun div:nth-child(7) {
  transform: translate(-50%) rotate(180deg);
}

#sun div:nth-child(8) {
  transform: translate(-50%) rotate(210deg);
}

#sun div:nth-child(9) {
  transform: translate(-50%) rotate(240deg);
}

#sun div:nth-child(10) {
  transform: translate(-50%) rotate(270deg);
}

#sun div:nth-child(11) {
  transform: translate(-50%) rotate(300deg);
}

#sun div:nth-child(12) {
  transform: translate(-50%) rotate(330deg);
}

.dark-mode #sun {
  background: #ddd;
  transform: translate(-50%, -50%) rotate(45deg) scale(1.5);
}

#sun:before,
#sun:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #ccc;
  transform: scale(0);
  opacity: 0;
  transition-duration: 0.3s;
}

#sun:after {
  width: 20px;
  height: 15px;
  top: 15%;
  left: 35%;
}

#sun:before {
  width: 25px;
  height: 25px;
  top: 20%;
  left: 12%;
}

.dark-mode #sun:before,
.dark-mode #sun:after {
  opacity: 1;
  transform: scale(1);
}

.dark-mode #sun div {
  height: 0;
  opacity: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.navbar {
  width: 100%;
  margin: 0 auto;
  height: 110px; //  padding: 15px 5px 0 5px;
  background-color: #fff; //  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  // background-image: url(../images/navback.jpg);
  // background-position: center center;
  // box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.25);
  // box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.1);
  position: fixed;
  transition: 0.4s;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

#logo {
  float: left;
  margin: 1.2em 0.35em;
  width: 25%;
  animation: moveInLeft 0.5s ease-out;
}

.logo-light {
  content: url(../images/logo_7.PNG);
}

.logo-dark {
  content: url(../images/logo_18.PNG);
}

// .progress-container {
//   width: 100%;
//   height: 6px;
//   background: #f8f5f5;
//   z-index: 1;
// }
// .progress-bar {
//   height: 6px;
//   background: #ff3e4d;
//   width: 0%;
//   margin-top: 104px;
// }
// ::-webkit-scrollbar {
//   display: none;
// }
.ref-heading {
  //  text-align: center;
  margin-top: 2.45em;
  margin-left: 4.15%;
  text-decoration: none; // text-transform: uppercase;
  font-family: "GoogleSans-Regular", sans-serif;
  letter-spacing: 0.08em;
  font-weight: 445;
  font-size: 1.2em;
}

.card {
  position: relative;
  margin: 2.5% 4.15%;
  transition: 0.4s;
  width: 325px !important;
  min-height: 220px !important;
  border-radius: 20px;
  padding: 2px 16px;
}

.card a {
  text-decoration: none;
}

.text {
  margin-top: 8%;
  color: #000;
  vertical-align: left;

  .element-name {
    font-size: 1rem;
    font-family: "GoogleSans-MediumItalic", sans-serif; // font-style: oblique;
    // font-weight: 500;
  }

  .description {
    font-size: 0.8em;
    font-family: "Arial", Roboto, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 1.2em;
    vertical-align: baseline;
  }
}

.card:hover {
  cursor: pointer;
}

#spcmar {
  margin-top: 150px !important;
}

.big-container {
  width: 100%;
}

.row-1 {
  margin-top: 1.25%;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10,
.container-11 {
  display: flex;

  .card-1,
  .card-6,
  .card-11 {
    box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(201, 25, 46, 0.3); //  background-image: linear-gradient(to top, #ac1828, #bb1729, #cb1629, #da1429, #ea1329);
  }

  .card-2,
  .card-7,
  .card-12 {
    box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(28, 54, 111, 0.3); //  background-image: linear-gradient(to top, #1c366f, #1d4681, #1d5792, #1c68a3, #1d79b4);
  }

  .card-3,
  .card-8,
  .card-13 {
    box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(27, 169, 76, 0.3);
  }

  .card-4,
  .card-9,
  .card-14 {
    box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(196, 61, 125, 0.3);
  }

  .card-5,
  .card-10 {
    box-shadow: 0 10px 25px 0 rgba(13, 145, 161, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(13, 145, 161, 0.3);
  }

  .card-1:hover,
  .card-6:hover,
  .card-11:hover {
    // box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
    box-shadow: 0 35px 80px 5px rgba(201, 25, 46, 0.25);
  }

  .card-2:hover,
  .card-7:hover,
  .card-12:hover {
    // box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
    box-shadow: 0 35px 80px 5px rgba(28, 54, 111, 0.25);
  }

  .card-3:hover,
  .card-8:hover,
  .card-13:hover {
    // box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
    box-shadow: 0 35px 80px 5px rgba(27, 169, 76, 0.25);
  }

  .card-4:hover,
  .card-9:hover,
  .card-14:hover {
    // box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
    box-shadow: 0 35px 80px 5px rgba(196, 61, 125, 0.25);
  }

  .card-5:hover,
  .card-10:hover {
    // box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
    box-shadow: 0 35px 80px 5px rgba(13, 145, 161, 0.25);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.inner-logo {
  position: relative;
  top: 0;
  float: right; // margin-top: -25px;
  // margin-left: 220px;
  margin-top: -2.5em;
  width: 45px;
  z-index: 0;
}

/////////1++++++++++++
// #scroll {
//   position: fixed;
//   right: 10px;
//   bottom: 10px;
//   cursor: pointer;
//   width: 50px;
//   height: 50px;
//   z-index: 10;
//   background-color: #ff3e4d; // background-image: linear-gradient(to right, rgb(238, 42, 123) 0%, rgb(255, 125, 184) 100%);
//   // background-image: linear-gradient(to right, rgb(127, 0, 255) 0%, rgb(225, 0, 255) 100%);
//   box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.25);
//   text-indent: -9999px;
//   display: none;
//   -webkit-border-radius: 60px;
//   -moz-border-radius: 60px;
//   border-radius: 60px;
// }
// #scroll span {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -8px;
//   margin-top: -12px;
//   height: 0;
//   width: 0;
//   border: 8px solid transparent;
//   border-bottom-color: #ffffff;
// }
// #scroll:hover {
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
//   opacity: 1;
//   filter: "alpha(opacity=100)";
//   -ms-filter: "alpha(opacity=100)";
// }
///////2+++++++++++
// .scrolltop {
//   display: none;
//   width: 100%;
//   margin: 0 auto;
//   position: fixed;
//   bottom: 10px;
//   right: 10px;
//   z-index: 10;
// }
// .scroll {
//   position: fixed;
//   right: 10px;
//   bottom: 10px;
//   cursor: pointer;
//   width: 50px;
//   height: 50px;
//   z-index: 10;
//   background-color: #ff3e4d; // background-image: linear-gradient(to right, rgb(238, 42, 123) 0%, rgb(255, 125, 184) 100%);
//   // background-image: linear-gradient(to right, rgb(127, 0, 255) 0%, rgb(225, 0, 255) 100%);
//   box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.25);
//   text-indent: -9999px; // display: none;
//   -webkit-border-radius: 60px;
//   -moz-border-radius: 60px;
//   border-radius: 60px;
// }
// .scroll span {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -8px;
//   margin-top: -12px;
//   height: 0;
//   width: 0;
//   border: 8px solid transparent;
//   border-bottom-color: #ffffff;
// }
// .scroll:hover {
//   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
//   opacity: 1;
//   filter: "alpha(opacity=100)";
//   -ms-filter: "alpha(opacity=100)";
// }
// .scroll:hover .fa {
//   padding-top: -10px;
// }
// .scroll .fa {
//   font-size: 25px;
//   margin-top: -5px;
//   margin-left: 1px;
//   transition: 0.5s;
//   -moz-transition: 0.5s;
//   -webkit-transition: 0.5s;
//   -o-transition: 0.5s;
// }
#topcontrol {
  color: #fff;
  z-index: 100;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #ff3e4d;
  // box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 5px 5px rgba(0, 0, 0, 0.23);
  position: fixed;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 60px !important;
}

#topcontrol:after {
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: Fontawesome;
  font-size: 1.3em;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -16px;
  height: 0;
  width: 0;
}

#topcontrol:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.footer {
  width: 100%;
  margin-top: 3%;
  background-color: #fff; // box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.name-window {
  display: inline-block;
  width: 90%;
  margin: 2% 5% 0 5%;
  height: 40px;
}

#logo-l {
  float: left;
  margin: 2% 0;
  width: 25%;
}

.name-text {
  float: right;
  width: 200px;
  display: block;
  width: 60%;
}

.c-1 {
  position: relative;
  width: 60%;
  float: left;
}

.name {
  margin: 4% 2% 4% 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 0.005em;
}

.photo {
  float: right;
  margin: 2% 2% 2% 0;
  width: 60px;
  border-radius: 50%;
}

// .me {
//   float: right;
//   width: 50%;
//   margin: 2% 0;
// }
// .me img {
//   float: right;
//   width: 38%;
// }
.widget {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 15px 30px;
  margin: 3em 0 2.5em;
  padding: 30px;
  text-align: center;
}

.widget .widget-title,
.widget .widgettitle {
  background-color: #fff;
  color: #10242b;
  display: inline-block;
  font-family: "GoogleSans-Medium", sans-serif;
  font-weight: 500 !important;
  font-size: 20px;
  margin: -48px auto 0px;
  line-height: 1;
  padding: 0 15px 41px;
  text-align: center;
  vertical-align: middle;
  z-index: 9;
  text-transform: capitalize;
}

.mysocialwid {
  display: block;
  font-size: 30px;
}

.mysocial {
  width: 50px;
  display: inline-block;
  padding: 7.5px 0.25px;
  border-radius: 50%;
  margin-right: 1%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.09);
  transition: all 0.2s ease-in-out;
}

.mysocial:hover {
  background-color: #fff;
  // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  transition: all 0.2s ease-in-out;

  .fa-facebook,
  .fa-twitter,
  .fa-linkedin,
  .fa-instagram,
  .fa-github,
  .fa-medium,
  .fa-quora {
    color: #752288; //#2bc5b4;
  }
}

.fa-heart-o {
  color: #ff3030;
  font-size: 30px;
  margin: 0 2px;
}

.footer__text>* {
  display: block;
  text-align: center;
  font-size: 0.85rem;
  padding: 3px 0;
}

.footer__text {
  margin-top: -1em;
  font-family: "GoogleSans-Regular", sans-serif; // background-color: #F3F3F7;
}

.footer_para {
  line-height: 100%;
}

#green {
  color: #06cf4a;
}

#violate {
  color: #241355;
}

.cl-switch-green input[type="checkbox"]:checked+.switcher {
  background: #222;
}

.cl-switch-green input[type="checkbox"]:checked+.switcher:before {
  background: #333;
}