body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mode-switcher {
  position: relative;
  margin-top: 0.6%;
  margin-right: 9.4%;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  padding: 4px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  // margin-right: 0.5%;
  float: right;
}

body.dark-mode {
  background-color: #111;
  color: #fff;

  a {
    color: #111;
  }

  button {
    background-color: #fff;
    color: #111;
  }

  hr {
    border: 0;
    height: 1.8px;
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 1);
  }

  .card {
    background-color: #585b5f;
  }

  .text {
    color: #fff;
  }

  .navbar {
    background-color: #111;
    box-shadow: 5px 5px 25px 0 rgba(255, 255, 255, 0.2);
  }

  .right .github-fork-ribbon {
    background-color: #fff;
  }

  .github-fork-ribbon a,
  .github-fork-ribbon a:hover {
    /* Set the text properties */
    color: #502f6f !important;
  }
}

body.light-mode {
  background-color: #fff;
  color: #111;

  a {
    color: #111;
  }

  button {
    background-color: #111;
    color: #fff;
  }
}

.navbar {
  width: 100%;
  margin: 0 auto;
  height: 110px; //  padding: 15px 5px 0 5px;
  background-color: #fff; //  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.25);
  position: fixed;
  transition: 0.4s;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

#logo {
  float: left;
  margin: 20px 2px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #f8f5f5;
  z-index: 1;
}

.progress-bar {
  height: 6px;
  background: #ff3e4d;
  width: 0%;
  margin-top: 104px;
}

::-webkit-scrollbar {
  display: none;
}

.ref-heading {
  //  text-align: center;
  margin-top: 2.4em;
  margin-left: 4.15%;

  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.15em;
}

hr {
  width: 100%;
  border: 0;
  height: 1.8px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.card {
  position: relative;
  margin: 2.5% 4.5%;
  transition: 0.4s;
  width: 325px !important;
  height: 220px !important;
  border-radius: 20px;
  padding: 2px 16px;
}

.card a {
  text-decoration: none;
}

.text {
  margin-top: 8%;
  color: #000;
  vertical-align: left;

  .element-name {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 501;
    font-style: oblique;
  }

  .description {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
  }
}

.card:hover {
  cursor: pointer;
}

#spcmar {
  margin-top: 150px !important;
}

.big-container {
  width: 100%;
}

.row-1 {
  margin-top: 1.25%;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7 {
  display: flex;

  .card-1,
  .card-6,
  .card-11 {
    box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(201, 25, 46, 0.3); //  background-image: linear-gradient(to top, #ac1828, #bb1729, #cb1629, #da1429, #ea1329);
  }

  .card-2,
  .card-7 {
    box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(28, 54, 111, 0.3); //  background-image: linear-gradient(to top, #1c366f, #1d4681, #1d5792, #1c68a3, #1d79b4);
  }

  .card-3,
  .card-8 {
    box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(27, 169, 76, 0.3);
  }

  .card-4,
  .card-9 {
    box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(196, 61, 125, 0.3);
  }

  .card-5,
  .card-10 {
    box-shadow: 0 10px 25px 0 rgba(58, 201, 185, 0.2);
    background-color: #fff;
    border-top: 3px solid rgba(58, 201, 185, 0.3);
  }

  .card-1:hover,
  .card-6:hover,
  .card-11:hover {
    box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
  }

  .card-2:hover,
  .card-7:hover {
    box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
  }

  .card-3:hover,
  .card-8:hover {
    box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
  }

  .card-4:hover,
  .card-9:hover {
    box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
  }

  .card-5:hover,
  .card-10:hover {
    box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
  }
}

.inner-logo {
  position: relative;
  top: 0;
  float: right;
  // margin-top: -25px;
  // margin-left: 220px;
  margin-top: -2.5em;
  width: 45px;
  z-index: 0;
}