body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  height: 110px; //  padding: 15px 5px 0 5px;
  background-color: #fff; //  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 20px 0 rgba(46, 61, 73, 0.2);
  position: fixed;
  transition: 0.4s;
  overflow: hidden;
  top: 0;
}

#logo {
  float: left;
  margin: 12px 2px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #ccc;
  z-index: 1;
}

.progress-bar {
  height: 6px;
  background: #ff3e4d;
  width: 0%;
  margin-top: 104px;
}

::-webkit-scrollbar {
  display: none;
}

.ref-heading {
  //  text-align: center;
  margin-left: 3%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
}

hr {
  width: 100%;
  border: 0;
  height: 2px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
}

.card {
  //  position: relative;
  margin: 2% 3%;
  transition: 0.4s;
  width: 400px !important;
  height: 250px;
  border-radius: 20px;
  padding: 2px 16px;
}

.card a {
  text-decoration: none;
}

.text {
  margin-top: 15%;
  color: #000;
  vertical-align: left;

  .element-name {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: oblique;
  }

  .description {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
  }
}

.card:hover {
  cursor: pointer;
}

#spcmar {
  margin-top: 150px;
}

.big-container {
  width: 100%;
}

.container-1,
.container-2,
.container-3 {
  display: flex;

  .card-1,
  .card-6,
  .card-11 {
    box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.3);
    background-color: #fff; //  background-image: linear-gradient(to top, #ac1828, #bb1729, #cb1629, #da1429, #ea1329);
  }

  .card-2,
  .card-7 {
    box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.3);
    background-color: #fff; //  background-image: linear-gradient(to top, #1c366f, #1d4681, #1d5792, #1c68a3, #1d79b4);
  }

  .card-3,
  .card-8 {
    box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.3);
    background-color: #fff;
  }

  .card-4,
  .card-9 {
    box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.3);
    background-color: #fff;
  }

  .card-5,
  .card-10 {
    box-shadow: 0 10px 25px 0 rgba(58, 201, 185, 0.3);
    background-color: #fff;
  }

  .card-1:hover {
    box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
  }

  .card-2:hover {
    box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
  }

  .card-3:hover {
    box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
  }

  .card-4:hover {
    box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
  }

  .card-5:hover {
    box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
  }

  .card-6:hover {
    box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
  }

  .card-7:hover {
    box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
  }

  .card-8:hover {
    box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
  }

  .card-9:hover {
    box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
  }

  .card-10:hover {
    box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
  }

  .card-11:hover {
    box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
  }

  .card-12:hover {
    box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
  }

  .card-13:hover {
    box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
  }

  .card-14:hover {
    box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
  }

  .card-15:hover {
    box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
  }
}