body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.mode-switcher {
  position: relative;
  margin-top: 0.6%;
  margin-right: 9.4%;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  padding: 4px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  float: right;
}

body.dark-mode {
  background-color: #111;
  color: #fff;
}

body.dark-mode a {
  color: #111;
}

body.dark-mode button {
  background-color: #fff;
  color: #111;
}

body.dark-mode hr {
  border: 0;
  height: 1.8px;
  -webkit-box-shadow: 3px 3px 15px white;
          box-shadow: 3px 3px 15px white;
}

body.dark-mode .card {
  background-color: #585b5f;
}

body.dark-mode .text {
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #111;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(255, 255, 255, 0.2);
          box-shadow: 5px 5px 25px 0 rgba(255, 255, 255, 0.2);
}

body.dark-mode .right .github-fork-ribbon {
  background-color: #fff;
}

body.dark-mode .github-fork-ribbon a,
body.dark-mode .github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #502f6f !important;
}

body.dark-mode .navbar {
  background-color: #000;
}

body.light-mode {
  background-color: #fff;
  color: #111;
}

body.light-mode a {
  color: #111;
}

body.light-mode button {
  background-color: #111;
  color: #fff;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  height: 110px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.25);
          box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.25);
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

#logo {
  float: left;
  margin: 20px 2px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #f8f5f5;
  z-index: 1;
}

.progress-bar {
  height: 6px;
  background: #ff3e4d;
  width: 0%;
  margin-top: 104px;
}

::-webkit-scrollbar {
  display: none;
}

.ref-heading {
  margin-top: 2.4em;
  margin-left: 4.15%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.15em;
}

hr {
  width: 100%;
  border: 0;
  height: 1.8px;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.card {
  position: relative;
  margin: 2.5% 4.5%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 325px !important;
  height: 220px !important;
  border-radius: 20px;
  padding: 2px 16px;
}

.card a {
  text-decoration: none;
}

.text {
  margin-top: 8%;
  color: #000;
  vertical-align: left;
}

.text .element-name {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 501;
  font-style: oblique;
}

.text .description {
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

.card:hover {
  cursor: pointer;
}

#spcmar {
  margin-top: 150px !important;
}

.big-container {
  width: 100%;
}

.row-1 {
  margin-top: 1.25%;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-1 .card-1,
.container-1 .card-6,
.container-1 .card-11,
.container-2 .card-1,
.container-2 .card-6,
.container-2 .card-11,
.container-3 .card-1,
.container-3 .card-6,
.container-3 .card-11,
.container-4 .card-1,
.container-4 .card-6,
.container-4 .card-11,
.container-5 .card-1,
.container-5 .card-6,
.container-5 .card-11,
.container-6 .card-1,
.container-6 .card-6,
.container-6 .card-11,
.container-7 .card-1,
.container-7 .card-6,
.container-7 .card-11,
.container-8 .card-1,
.container-8 .card-6,
.container-8 .card-11,
.container-9 .card-1,
.container-9 .card-6,
.container-9 .card-11 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.2);
          box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(201, 25, 46, 0.3);
}

.container-1 .card-2,
.container-1 .card-7,
.container-2 .card-2,
.container-2 .card-7,
.container-3 .card-2,
.container-3 .card-7,
.container-4 .card-2,
.container-4 .card-7,
.container-5 .card-2,
.container-5 .card-7,
.container-6 .card-2,
.container-6 .card-7,
.container-7 .card-2,
.container-7 .card-7,
.container-8 .card-2,
.container-8 .card-7,
.container-9 .card-2,
.container-9 .card-7 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.2);
          box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(28, 54, 111, 0.3);
}

.container-1 .card-3,
.container-1 .card-8,
.container-2 .card-3,
.container-2 .card-8,
.container-3 .card-3,
.container-3 .card-8,
.container-4 .card-3,
.container-4 .card-8,
.container-5 .card-3,
.container-5 .card-8,
.container-6 .card-3,
.container-6 .card-8,
.container-7 .card-3,
.container-7 .card-8,
.container-8 .card-3,
.container-8 .card-8,
.container-9 .card-3,
.container-9 .card-8 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.2);
          box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(27, 169, 76, 0.3);
}

.container-1 .card-4,
.container-1 .card-9,
.container-2 .card-4,
.container-2 .card-9,
.container-3 .card-4,
.container-3 .card-9,
.container-4 .card-4,
.container-4 .card-9,
.container-5 .card-4,
.container-5 .card-9,
.container-6 .card-4,
.container-6 .card-9,
.container-7 .card-4,
.container-7 .card-9,
.container-8 .card-4,
.container-8 .card-9,
.container-9 .card-4,
.container-9 .card-9 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.2);
          box-shadow: 0 10px 25px 0 rgba(196, 61, 125, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(196, 61, 125, 0.3);
}

.container-1 .card-5,
.container-1 .card-10,
.container-2 .card-5,
.container-2 .card-10,
.container-3 .card-5,
.container-3 .card-10,
.container-4 .card-5,
.container-4 .card-10,
.container-5 .card-5,
.container-5 .card-10,
.container-6 .card-5,
.container-6 .card-10,
.container-7 .card-5,
.container-7 .card-10,
.container-8 .card-5,
.container-8 .card-10,
.container-9 .card-5,
.container-9 .card-10 {
  -webkit-box-shadow: 0 10px 25px 0 rgba(58, 201, 185, 0.2);
          box-shadow: 0 10px 25px 0 rgba(58, 201, 185, 0.2);
  background-color: #fff;
  border-top: 3px solid rgba(58, 201, 185, 0.3);
}

.container-1 .card-1:hover,
.container-1 .card-6:hover,
.container-1 .card-11:hover,
.container-2 .card-1:hover,
.container-2 .card-6:hover,
.container-2 .card-11:hover,
.container-3 .card-1:hover,
.container-3 .card-6:hover,
.container-3 .card-11:hover,
.container-4 .card-1:hover,
.container-4 .card-6:hover,
.container-4 .card-11:hover,
.container-5 .card-1:hover,
.container-5 .card-6:hover,
.container-5 .card-11:hover,
.container-6 .card-1:hover,
.container-6 .card-6:hover,
.container-6 .card-11:hover,
.container-7 .card-1:hover,
.container-7 .card-6:hover,
.container-7 .card-11:hover,
.container-8 .card-1:hover,
.container-8 .card-6:hover,
.container-8 .card-11:hover,
.container-9 .card-1:hover,
.container-9 .card-6:hover,
.container-9 .card-11:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
          box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
}

.container-1 .card-2:hover,
.container-1 .card-7:hover,
.container-2 .card-2:hover,
.container-2 .card-7:hover,
.container-3 .card-2:hover,
.container-3 .card-7:hover,
.container-4 .card-2:hover,
.container-4 .card-7:hover,
.container-5 .card-2:hover,
.container-5 .card-7:hover,
.container-6 .card-2:hover,
.container-6 .card-7:hover,
.container-7 .card-2:hover,
.container-7 .card-7:hover,
.container-8 .card-2:hover,
.container-8 .card-7:hover,
.container-9 .card-2:hover,
.container-9 .card-7:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
          box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
}

.container-1 .card-3:hover,
.container-1 .card-8:hover,
.container-2 .card-3:hover,
.container-2 .card-8:hover,
.container-3 .card-3:hover,
.container-3 .card-8:hover,
.container-4 .card-3:hover,
.container-4 .card-8:hover,
.container-5 .card-3:hover,
.container-5 .card-8:hover,
.container-6 .card-3:hover,
.container-6 .card-8:hover,
.container-7 .card-3:hover,
.container-7 .card-8:hover,
.container-8 .card-3:hover,
.container-8 .card-8:hover,
.container-9 .card-3:hover,
.container-9 .card-8:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
          box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
}

.container-1 .card-4:hover,
.container-1 .card-9:hover,
.container-2 .card-4:hover,
.container-2 .card-9:hover,
.container-3 .card-4:hover,
.container-3 .card-9:hover,
.container-4 .card-4:hover,
.container-4 .card-9:hover,
.container-5 .card-4:hover,
.container-5 .card-9:hover,
.container-6 .card-4:hover,
.container-6 .card-9:hover,
.container-7 .card-4:hover,
.container-7 .card-9:hover,
.container-8 .card-4:hover,
.container-8 .card-9:hover,
.container-9 .card-4:hover,
.container-9 .card-9:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
          box-shadow: 0 25px 30px 0 rgba(196, 61, 125, 0.25);
}

.container-1 .card-5:hover,
.container-1 .card-10:hover,
.container-2 .card-5:hover,
.container-2 .card-10:hover,
.container-3 .card-5:hover,
.container-3 .card-10:hover,
.container-4 .card-5:hover,
.container-4 .card-10:hover,
.container-5 .card-5:hover,
.container-5 .card-10:hover,
.container-6 .card-5:hover,
.container-6 .card-10:hover,
.container-7 .card-5:hover,
.container-7 .card-10:hover,
.container-8 .card-5:hover,
.container-8 .card-10:hover,
.container-9 .card-5:hover,
.container-9 .card-10:hover {
  -webkit-box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
          box-shadow: 0 25px 30px 0 rgba(58, 201, 185, 0.25);
}

.inner-logo {
  position: relative;
  top: 0;
  float: right;
  margin-top: -2.5em;
  width: 45px;
  z-index: 0;
}
/*# sourceMappingURL=main.css.map */