 body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
 }

 .navbar {
   width: 100%;
   margin: 0 auto;
   height: 85px;
   //  padding: 15px 5px 0 5px;
   background-color: #fff;
   box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
   position: fixed;
   transition: 0.4s;
   overflow: hidden;
   top: 0;
 }

 #logo {
   float: left;
   margin-top: 0;
 }

 .star {
   float: right;
   margin-top: 20px 0 auto 5%;
   color: #1443a0;
   background-color: #fff;
 }

 .ref-heading {
   //  text-align: center;
   margin-left: 3%;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Lato', sans-serif;
   letter-spacing: 0.1em;
 }

 hr {
   border: 0;
   height: 1.5px;
   box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
 }

 .row {
   display: flex;
 }

 .card {
   //  position: relative;
   margin: 2% 3%;
   transition: 0.4s;
   width: 400px;
   height: 250px;
   border-radius: 20px;
   padding: 2px 16px;
 }

 .card a {
   text-decoration: none;
 }

 .text {
   margin-top: 15%;
   color: #000;
   vertical-align: left;

   .element-name {
     font-size: 1rem;
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     font-style: oblique;
   }

   .description {
     font-size: 0.75rem;
     font-family: 'Montserrat', sans-serif;
   }
 }

 .card:hover {
   cursor: pointer;
 }

 #spcmar {
   margin-top: 120px;
 }

 .container-1 {
   display: flex;

   .card-1 {
     box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.3);
     background-color: #fff; //  background-image: linear-gradient(to top, #ac1828, #bb1729, #cb1629, #da1429, #ea1329);
   }

   .card-2 {
     box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.3);
     background-color: #fff;
     //  background-image: linear-gradient(to top, #1c366f, #1d4681, #1d5792, #1c68a3, #1d79b4);
   }

   .card-3 {
     box-shadow: 0 10px 25px 0 rgba(27, 169, 76, 0.3);
     background-color: #fff;
   }

   .card-4 {
     box-shadow: 0 10px 25px 0 rgba(201, 25, 46, 0.3);
     background-color: #fff;
   }

   .card-5 {
     box-shadow: 0 10px 25px 0 rgba(28, 54, 111, 0.3);
     background-color: #fff;
   }

   .card-1:hover {
     box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
   }

   .card-2:hover {
     box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
   }

   .card-3:hover {
     box-shadow: 0 25px 30px 0 rgba(27, 169, 76, 0.25);
   }

   .card-4:hover {
     box-shadow: 0 25px 30px 0 rgba(201, 25, 46, 0.25);
   }

   .card-5:hover {
     box-shadow: 0 25px 30px 0 rgba(28, 54, 111, 0.25);
   }
 }