 body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
 }

 .navbar {
   width: 100%;
   margin: 0 auto;
   height: 85px;
   //  padding: 15px 5px 0 5px;
   background-color: #fff;
   box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
   position: fixed;
   transition: 0.4s;
   overflow: hidden;
   top: 0;
 }

 #logo {
   float: left;
   margin-top: 0;
 }

 .star {
   float: right;
   margin-top: 20px 0 auto 5%;
   color: #1443a0;
   background-color: #fff;
 }

 .ref-heading {
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-family: 'Lato', sans-serif;
   letter-spacing: 0.1em;
 }

 hr {
   border: 0;
   height: 2px;
   box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
 }